/* Глобальное исправление свойства border0box*/
:root {
    box-sizing: border-box;
    font-size: 0.875em;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    --main-font: 'Montserrat', sans-serif;
    --main-bgColor: rgb(182, 148, 214);
    --darkShade100: hsla(238, 52%, 25%, 1);
    --darkShade75 : hsla(238, 52%, 25%, 0.75);
    --darkShade50 : hsla(238, 52%, 25%, 0.5);
    --darkShade25 : hsla(238, 52%, 25%, 0.25);
    --darkShade05 : hsla(238, 52%, 25%, 0.05);
    --primaryColor: hsla(259, 100%, 81%, 1);
    --secondaryColor: hsla(145, 50%, 62%, 1);

    font-family: var(--main-font);
    color: var(--darkShade75);
    background-color: var(var(--main-bgColor));
}

h1, h2,h3 {
    font-style: normal;
    font-weight: bold;
    color: var(--darkShade100);
}

h1 {
    font-size: 24px;
    line-height: 29px;
}

h2 {
    font-size: 19px;
    line-height: 23px;
}

a, h3 {
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
}

a {
	text-decoration: none;
	color: var(--darkShade50);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cointainer {
    margin-top: 0;
    margin-right: 140px;
    margin-bottom: 0;
    margin-left: 140px;
	/*outline;*/
}

/* Styles for header */

.header {
    /* background-color: rgb(97, 86, 86);*/
}
.header .cointainer {
    display: flex;
	justify-content: space-between;
	align-items: center;
    /* padding: 18px 0; */
    background-color: #fff;
}

.logo {
	margin: 15px 0;
}

.nav-list {
    display: flex;
    margin: 26px 0;
	align-items: center;
	color: var(--darkShade50);
    /*background-color: rgb(155, 109, 109);*/
}

.nav-list li +li {  
    margin-left: 20px;
}

.added-after:after {
	content: "";
	display: inline-block;
	background: url(../img/expand_more.png) center no-repeat scroll/* bg-attacment: local?*/;
	
	width: 24px;
	height: 10px;
	/* margin-top: 26px;
	border-style: dot;
    border-width: 5px;
    border-color: var(--darkShade50) transparent transparent transparent;
*/
}

.added-after:hover::after {
	cursor: pointer; /*hmhmhmhm*/
	
}

.btn {	
	border: solid 3px var(--primaryColor);
	border-radius: 22px;
	background-color: var(--primaryColor);
    color: var(--whiteColor);
    margin-left: 20px;
	
}

.btn:hover{
	background-color: var(--whiteColor);
	color: var(--primaryColor);
}

.btn h3{
	color: inherit;
	margin: 10px 20px;
}


/* Styles for main (imgs and form) */
.main {
    position: relative; /* Относительное позиционирование */
}

.search__form {
    position: absolute; /* Абсолютное позиционирование */
    top: 70px;
    left: 140px; /* Положение от правого края */
    
    width: 380px;
    height: 374px;
    background-color: #fff;
    border-radius: 3px;
}
