/* Глобальное исправление свойства border0box*/
:root {
    box-sizing: border-box;
    font-size: 0.875em;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    --main-font: 'Montserrat', sans-serif;
    --main-bgColor: rgb(182, 148, 214);
    --darkShade100: hsla(238, 52%, 25%, 1);
    --darkShade75 : hsla(238, 52%, 25%, 0.75);
    --darkShade50 : hsla(238, 52%, 25%, 0.5);
    --darkShade25 : hsla(238, 52%, 25%, 0.25);
    --darkShade05 : hsla(238, 52%, 25%, 0.05);
    --primaryColor: hsla(259, 100%, 81%, 1);
    --secondaryColor: hsla(145, 50%, 62%, 1);
	--whiteColor: #fff;
	
	--heightHeadFoot: 70px;

    font-family: var(--main-font);
	line-height: 17px;
    color: var(--darkShade75);
    background-color: var(--main-bgColor);
}

h1, h2,h3 {
    font-style: normal;
    font-weight: bold;
    color: var(--darkShade100);
}

h1 {
    font-size: 24px;
    line-height: 29px;
}

h2 {
    font-size: 19px;
    line-height: 23px;
}

a, h3 {
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
}

p, li {
	color: var(--darkShade50);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	max-width: 1440px;
	
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
	
	padding-right: 75px;
	padding-left: 75px;
	outline: 1px solid red;
	
	
}

/* Styles for header */

.header {
	height: var(--heightHeadFoot);
	padding-top: 15px;
	padding-bottom: 15px;
    background-color: rgb(97, 86, 86);
}
.header .cointainer {
    display: flex;
    /*background-color: #fff; */
}

.logo {
	width: 106px;
	max-height: 40px;
}

.nav {
    display: flex;
	align-items: center;
	color: var(--darkShade50);
    /*background-color: rgb(155, 109, 109);*/
}

.nav__list {
	display: flex;
}

.nav__list li +li {  
    margin-left: 20px;
}

.added-after:after {
	content: "";
	display: inline-block;
	background: url(../img/expand_more.png) center no-repeat scroll/* bg-attacment: local?*/;
	
	width: 24px;
	height: 10px;
	/* margin-top: 26px;
	border-style: dot;
    border-width: 5px;
    border-color: var(--darkShade50) transparent transparent transparent;
*/
}

.added-after:hover::after {
	cursor: pointer; /*hmhmhmhm*/
	
}

.nav__btn {
	display: flex;
	justify-content: space-between;
	
}

.btn {	
	border: solid 2px var(--primaryColor);
	border-radius: 22px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: var(--whiteColor);
    margin-left: 20px;
}

.btn h3{
	margin: 10px 20px;
	color: inherit;
}

.btn:hover{
	background: var(--whiteColor);
	color: var(--primaryColor);
}




/* Styles for main (imgs and form) */
.main {
    
}

.main__form{
	position: relative; /* Относительное позиционирование */
	outline: 3px solid green;
	margin: 0;
	padding: 0;
}

.search__form {
    position: absolute; /* Абсолютное позиционирование */
    top: 70px;
    left: 140px; /* Положение от правого края */
    
    width: 380px;
    height: 374px;
    background-color: #fff;
    border-radius: 3px;
	
	display: flex;
	flex-direction: column;


	
	padding: 40px 30px 30px 30px;
	
}

.search__form  > h1{
	margin-bottom: 21px;
}

.dates {
	display: flex;
	margin-bottom: 21px;
}

.date-checkin {
	margin-right: 20px;
	
}
.amount-person {
	margin-bottom: 30px;
}

.title__input {
	margin-bottom: 5px;
}

.form-input {
	width: 150px;
	height: 44px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	background: #FFFFFF;	
}

.form-input[placeholder] { /* WebKit browsers */
    font-family: var(--main-font);
	font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    text-transform: uppercase;
	color: var(--darkShade75);
	
	padding-left: 15px;
}

.amount-person .form-input {
	width: 320px;
}

.form-btn {
	position: relative;
	margin: 0;
	font-weight: bold;
}

.arrow {
	width: 16px;
	height: 16px;
	position: absolute; /* Абсолютное позиционирование */
    top: 10px;
    left: 291px; /* Положение от правого края */
}

.img__list {
	
	outline: 2px solid black;
}

.main__image {
	max-width: 1290px;
}


	/* Styles for footer */

.footer {
	
}

.footer .container {
	display: block;
	outline: solid 1px black;
}

.footer__top, .footer__bottom {
	display: flex;
	justify-content: space-between;
	
	outline: solid 8px pink;
}

.footer__top {
	padding: 100px 0;
}

.footer__about {
	padding-right: 20px;
	line-height: 24px;
	/*padding-left: 5px;*/
}

.footer__follow {
	padding-left: 20px;
	/*padding-right: 5px;*/
}

.footer__top > div {
	background-color: yellow;
	flex: 25%;
}

.footer__top > ul  {
	flex: 15%;
	padding: 0 10px;
	outline: solid 1px blue;
}

.footer__top * > * + *{
	margin-top: 20px;
}

.footer__bottom {

	height: var(--heightHeadFoot);
	align-items: center;
	
}

.footer__bottom li {
	display: inline-block;
}

.footer__bottom li + li {
	margin-left: 20px;
}
