/* Глобальное исправление свойства border0box*/
:root {
  box-sizing: border-box;
  font-size: 0.875em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  --main-font: 'Montserrat', sans-serif;
  --main-bgColor: rgb(182, 148, 214);
  --darkShade100: hsla(238, 52%, 25%, 1);
  --darkShade75: hsla(238, 52%, 25%, 0.75);
  --darkShade50: hsla(238, 52%, 25%, 0.5);
  --darkShade25: hsla(238, 52%, 25%, 0.25);
  --darkShade05: hsla(238, 52%, 25%, 0.05);
  --primaryColor: hsla(259, 100%, 81%, 1);
  --secondaryColor: hsla(145, 50%, 62%, 1);
  --whiteColor: #fff;
  --borderColor: hsla(238, 35%, 19%, 0.25);
  --borderShadow: hsla(238, 35%, 19%, 0.05);

  --heightHeadFoot: 70px;

  font-family: var(--main-font);
  line-height: 17px;
  color: var(--darkShade75);
  /*background-color: var(--main-bgColor);*/
}

h1,
h2,
h3 {
  font-style: normal;
  font-weight: bold;
  color: var(--darkShade100);
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

a,
h3 {
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
}

p,
li {
  color: var(--darkShade50);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  outline: 1px solid red;
}

.wrapper {
  margin: 0 140px;
}

/* Styles for header */

.header {
  height: var(--heightHeadFoot);
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: palegoldenrod;*/

  padding-top: 15px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-menu {
  margin-right: 20px;
}

.header__logo {
  display: block;
  width: 106px;
  max-height: 40px;
  margin-right: 15px;
}

.header__nav-list {
  display: flex;
  color: var(--darkShade50);
  /*background-color: rgb(155, 109, 109);*/
}


.header__nav-list li+li {
  margin-left: 20px;
}

.header__nav-list a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__link:after {
  content: "";
  display: inline-block;
  background: url(../img/expand_more.png) center no-repeat scroll;

  width: 24px;
  height: 10px;
}

.header__nav-btn {
  display: flex;
}

.btn {
  margin-left: 20px;
  border: solid 2px var(--primaryColor);
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

}

.btn {
  padding: 10px 20px;
  color: var(--whiteColor);
}

.btn__title {
  font-style: normal;
  font-weight: bold;

  color: inherit;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--whiteColor);
  color: var(--primaryColor);
}

/* Header's style end */

/* Styles for main (imgs and form) */
.main {
  position: relative;
}

.main__images {
  height: 1022px;
  width: 100%;
  background: url("../img/main-image3.png") center no-repeat #cf87cf;
  background-size: cover;
  margin-bottom: 100px;
}

.main__slogan {
  position: absolute;
  bottom: 18px;
  right: 134px;

  width: 297px;
  height: 48px;

  text-align: right;
  font-size: 14px;
  line-height: 24px;
  color: var(--darkShade75);
}

.search__form {
  position: absolute;
  /* Абсолютное позиционирование */
  top: 70px;
  left: 140px;
  /* Положение от правого края */

  width: 380px;
  height: 374px;
  background-color: #fff;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px 30px;
}

.search__form>h1 {
  margin-bottom: 21px;
}

.dates {
  display: flex;
  margin-bottom: 21px;
}

.date-checkin {
  margin-right: 20px;
}

.amount-person {
  margin-bottom: 30px;

}

.title__input {
  margin-bottom: 5px;
}

.form-input {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: #FFFFFF;
  background-image: url("../img/svg/expand_more.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
}

.amount-person .form-input {
  width: 320px;
  background-position: 95% center;
}

.form-input[placeholder] {
  /* WebKit browsers */
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  text-transform: uppercase;
  color: var(--darkShade75);

  padding-left: 15px;
}

.date-checkout {
  position: relative;
}

.date-checkin {
  position: relative;
}

.amount-person {
  position: relative;
}

.input__link {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 20px;
  right: 0;
  /* background-color: #dd45; */
}

.form-btn {
  position: relative;
  width: 320px;
  height: 44px;
  margin: 0;
}

.btn-arrow {
  position: absolute;
  top: 10px;
  right: 5%;
  fill: #FFFFFF;
}

.form-btn:hover svg {
  fill: rgba(188, 156, 255, 1);
}

/* Main's styles end */

/* Styles for footer */

.footer {}

.footer__top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  grid-gap: 20px;
  /* outline: solid 8px pink; */
}

.footer__top__item {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: left;
  /* background-color: yellow; */
}

.footer__top__item {
  /* display: grid;
  grid-template-columns: subgrid;
  grid-auto-columns:  auto; */
}

.footer__logo-link .logo {
  padding: 0 0 35px 0;
}

.footer__top__item p {
  font-size: 14px;
  line-height: 24px;
}

.footer__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.footer__item-desc *+* {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.footer__item-desc__link {
  opacity: 1;
}

.footer__item-desc__link:hover {
  color: rgba(31, 32, 65, 0.75);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;

  /* outline: solid 8px pink; */
}

.footer__bottom {
  height: var(--heightHeadFoot);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
}

.social__item {
  margin-left: 20px;
}

.social__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.social__link--vk {
  background-image: url("/img/svg/twitter.svg");
}

.social__link--fb {
  background-image: url("/img/svg/fb.svg");
}

.social__link--fb:hover svg {
  stroke-width: 5px;
}

.social__link--insta {
  background-image: url("/img/svg/inst.svg");
}

.social__link:hover {
  fill: red;
}

/*ДОпЭлементы*/

/* Styles for calendar */
#calendar2 {
  width: 320px;
  height: 369px;
  font: var(--main-font);
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  box-shadow: var(--borderShadow);
}

#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
  outline: tomato;
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}

#calendar2 tbody td {
  color: rgb(44, 86, 122);
}

#calendar2 tbody td:nth-child(n+6),
#calendar2 .holiday {
  color: rgb(231, 140, 92);
}

#calendar2 tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}

